.header {
  padding: 1rem;
  background-color: #003366;
  color: white;
}

.nav {
  margin-top: 0.5rem;
}

.nav-link {
  margin-right: 1rem;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
