.transactions {
  margin-left: 2rem;
  padding: 1rem 0 2rem 0;
}

.transaction-table {
  border-collapse: collapse;
  min-width: 900px;
}

.transaction-table th,
.transaction-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.transaction-table th {
  background-color: #f2f2f2;
}
